h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

body {
    background-color: #E5E5E5;
}


form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background-color: darkkhaki;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 18rem;
    height: auto;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 60px rgb(0 0 0 / 0.5);
    background-color: #fff;
}

.row {
    display: block;
    margin-bottom: 1rem;
}

.row label {
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
}

.row input[type="number"],
.row input[type="text"],
.row input[type="email"],
.row input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
.row input[type="checkbox"] + label {
    display: inline-block;
}

.box #previous {
    display: block;
    margin-bottom: 1rem;
    align-items: left;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

#previous {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: inline-block;
}

#previous img {
    width: 2rem;
    height: auto;
}

#message {
    color: red;
    min-height: 1.25rem;
    margin: 0.25rem 0 0;
    text-align: center;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#spinner img {
    width: 10vw; /* ancho relativo al viewport */
    max-width: 100px; /* tamaño máximo */
    height: auto; /* mantiene la proporción */
}

/* Opcional: tamaños más pequeños para móviles */
@media (max-width: 480px) {
    #spinner img {
        width: 15vw; /* un poco más grande relativo al viewport pequeño */
        max-width: 80px;
    }
}
