#login-box {
    background: white;
    padding: 6rem;
    width: 16rem;
    border-radius: 10px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: auto;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: blanchedalmond;
}
