<div id="modal-overlay" class="modal-overlay">
    <div class="box">
        <div class="modal-window">
            <a href="#/dashboard" id="previous">
                <img src="/previous.png" alt="Previous Page" />
            </a>
            <h2>Create new task</h2>
            <form id="taskForm">
                <div class="row">
                    <label for="task-title">Title:</label>
                    <input
                        type="text"
                        id="task-title"
                        name="task-title"
                        required
                    />
                </div>
                <div class="row">
                    <label for="task-desc">Description:</label>
                    <textarea
                        id="task-desc"
                        name="task-desc"
                        rows="3"
                        required
                    ></textarea>
                </div>
                <div class="row">
                    <label for="task-date">Due Date:</label>
                    <input
                        type="date"
                        id="task-date"
                        name="task-date"
                        required
                    />
                </div>
                <div class="row">
                    <label for="task-time">Time:</label>
                    <input
                        type="time"
                        id="task-time"
                        name="task-time"
                        required
                    />
                </div>
                <div class="row">
                    <label for="task-status">Status:</label>
                    <select id="task-status" name="task-status" required>
                        <option value="Unassigned">Unassigned</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
