<div id="container">
    <header>
        <a href="/home">
            <img src="/lumo-logo.png" alt="Lumo Logo" class="logo" />
        </a>
    </header>

    <div class="content-wrapper">
        <aside>
            <nav>
                <ul id="static-ul">
                    <li><a href="/ongoing">Ongoing</a></li>
                    <li><a href="/unassigned">Unassigned</a></li>
                    <li><a href="/completed">Completed</a></li>
                    <li><a href="/all">All</a></li>
                </ul>
                <hr />
                <ul id="dynamic-ul"></ul>
            </nav>
        </aside>
        <main></main>
    </div>
</div>
