<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/lumo-logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/auth.css" />
        <title>Register</title>
    </head>
    <body>
        <header>
            <a href="/home">
                <img src="/lumo-logo.png" alt="Lumo Logo" class="logo" />
            </a>
        </header>

        <div class="content-wrapper">
            <aside>
                <nav>
                    <ul id="static-ul">
                        <li><a href="/ongoing">Ongoing</a></li>
                        <li><a href="/unassigned">Unassigned</a></li>
                        <li><a href="/completed">Completed</a></li>
                        <li><a href="/all">All</a></li>
                    </ul>
                    <hr />
                    <ul id="dynamic-ul"></ul>
                </nav>
            </aside>
            <main></main>
        </div>
    </body>
</html>
