<div id="container">
  <head>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <div class="content-wrapper">
    <aside>
      <nav>
        <ul id="static-ul">
          <li class="subtitle"><a href="/ongoing">Ongoing</a></li>
          <li class="subtitle"><a href="/unassigned">Unassigned</a></li>
          <li class="subtitle"><a href="/completed">Completed</a></li>
          <li class="subtitle"><a href="/all">All</a></li>
        </ul>
        <hr />
        <ul id="dynamic-ul"></ul>
      </nav>
    </aside>

    <main></main>
  </div>
</div>
