<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lumo</title>
        <link rel="stylesheet" href="../styles/home.css" />
    </head>
    <body>
        <!-- Menu bar-->
        <header>
            <nav id="menu">
                <div class="logo">Lumo</div>
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#/about">About us</a></li>
                </ul>
                <div class="login-btn">
                    <a href="#/login" role="button">Log in</a>
                </div>
            </nav>
        </header>
        <!-- Page info-->
        <main id="principal">
            <div class="content">
                <div class="text-left">
                    <h1>
                        Join the most efficient website <br />to customize your
                        tasks
                    </h1>
                    <a href="#/login">Join us</a>
                </div>
                <div class="image">
                    <img src="/Lumix2.png" alt="Ilustración principal" />
                </div>
            </div>
            <div class="text-center">
                <h2>
                    Sign up today and transform<br />
                    the way you manage<br />
                    your <span class="gradient-text">world.</span>
                </h2>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-col">
                <div class="logo">Lumo</div>
                <p>© 2025 JSquad</p>
                <p>All rights reserved</p>
                <div class="social">
                    <a href="#"><img src="/x.png" alt="Twitter"></a>
                    <a href="#"><img src="/instagram.png" alt="Instagram"></a>
                </div>
            </div>
            <div class="footer-col">
                <p>Created by JSquad</p>
                <ul>
                    <li><a href="/contact.html">About us</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <p>Support</p>
                <ul>
                    <li><a href="/contact.html">Contact us</a></li>
                    <li><a href="/service-terms">Terms of Service</a></li>
                    <li><a href="/policies">Privacy policies</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>