<div id="container">
    <div class="box">
        <a href="/home">
            <img src="/lumo-logo.png" alt="Logo" class="logo" />
        </a>

        <h1>Log in</h1>

        <form id="loginForm" method="post">
            <div class="row">
                <label for="email"> Email: </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Example: user@example.com"
                    required
                />
            </div>

            <div class="row">
                <label for="password"> Password: </label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                />
            </div>

            <div class="row">
                <input type="checkbox" id="rememberMe" value="true" />
                <label for="rememberMe">Remember me</label>
            </div>

            <button type="submit">Enter</button>
        </form>
        <p id="message" hidden></p>
        <p>
            Forgot password?
            <a href="#/password-recovery"> Recover password </a>
        </p>
        <hr />
        <p>
            Not registered?
            <a href="#/register"> Create an account </a>
        </p>
    </div>
</div>
