<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/lumo-logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/auth.css" />
        <link rel="stylesheet" href="../styles/password-recovery.css"
        <title>Password Recovery</title>
    </head>
    <body>
        <script type="module" src="/src/login.js"></script>
        <main id="main">
            <div class="box">
                <a href="/login" id="previous">
                    <img src="/previous.png" alt="Previous Page" />
                </a>

                <a href="/home">
                    <img src="/lumo-logo.png" alt="Lumo Logo" class="logo" />
                </a>

                <h1>Password Recovery</h1>

                <form method="post">
                    <div class="step step-1 active">
                        <div class="row">
                            <label for="email">Enter your email:</label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                placeholder="Example: user@example.com"
                                required
                            />
                        </div>
                        <button type="submit" data-step="1">>Next</button>
                    </div>

                    <div class="step step-2">
                        <div class="row">
                            <label for="code"
                                >Enter the code sent to your email:</label
                            >
                            <input type="text" id="code" name="code" placeholder="Must be 6 digits long" required />
                        </div>
                        <button type="submit" data-step="2">Next</button>
                    </div>

                    <div class="step step-3">
                        <div class="row">
                            <label for="newPassword">New Password:</label>
                            <input
                                type="password"
                                id="newPassword"
                                name="newPassword"
                                placeholder="Crete a new password"
                                minlength="8"
                                required
                            />
                            <small
                                class="feedback"
                                id="createPasswordFeedback"
                                hidden
                            >
                                Must contain at least 8 characters, one uppercase,
                                one lowercase, one number, and one special
                                character.
                            </small>
                        </div>
                        <div class="row">
                            <label for="confirmPassword"
                                >Confirm Password:</label
                            >
                            <input
                                type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="Enter again the password"
                                minlength="8"
                                required
                            />
                            <small class="feedback" id="confirmPasswordFeedback" hidden>
                                Passwords must match.
                            </small>
                        </div>
                        <button type="submit" data-step="3">
                            >Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
