<div id="container">
    <div class="box">
        <a href="#/login" id="previous">
            <img src="/previous.png" alt="Previous Page" />
        </a>

        <a href="#/home">
            <img src="/lumo-logo.png" alt="Lumo Logo" class="logo" />
        </a>

        <h1>Register</h1>

        <form id="registerForm" method="post" autocomplete="off">
            <div class="row">
                <label for="firstName"> Name: </label>
                <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    placeholder="Example: John"
                    minlength="2"
                    required
                />
            </div>

            <div class="row">
                <label for="lastName"> Last Name: </label>
                <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    placeholder="Example: Doe"
                    minlength="2"
                    required
                />
            </div>

            <div class="row">
                <label for="age"> Age: </label>
                <input
                    type="number"
                    id="age"
                    name="age"
                    placeholder="Age must be greater or equal to 13"
                    min="13"
                    required
                />
            </div>

            <div class="row">
                <label for="email"> Email: </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Example: user@example.com"
                    required
                />
            </div>

            <div class="row">
                <label for="password"> Password: </label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Create a password"
                    minlength="8"
                    required
                />
            </div>

            <div class="row">
                <label for="confirmPassword"> Confirm Password: </label>
                <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Enter again the password"
                    minlength="8"
                    required
                />
            </div>

            <button type="submit">Enter</button>
            <p id="registerMsg"></p>
        </form>
    </div>
    <div id="spinner">
        <img src="/spinner.gif" alt="Loading..." />
    </div>
</div>
